.main {
  margin-block-start: 5rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header ul{
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.header li{
  color: #e2e2e2;
  font-weight: bold;
  font-size: 13px;
}

.header li:hover{
  color: #333333;
}

.header div{
  display: flex;
  gap: 2rem;
}

.button{
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 2px #333333 solid;
  color: #333333;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.button:hover{
  background-color: #333333;
  color: #FFFFFF;
}

.link{
  text-decoration: none;
  color: inherit;
}

@media(max-width: 768px) {
  .header div{
      display: none;
  }
}



